Background
Often times when working with raw tabular data, a common goal is to split the data into groups and perform an aggregation as a way to simplify and draw meaningful conclusions from it. The aggregation function can be anything that reduces the data (sum,mean,standard deviation,etc.). For the purpose of this kata, it will always be the sum function.

Task
Define a function that accepts two arguments, the first being a list of list that represents the raw data, and the second being a list of column indices. The return value should be a dictionary with the key being the groups as a tuple and the values should be a list containing the aggregated sums.

In [1]:
import numpy as np
import pandas as pd

In [2]:
array = [
  [1, 6, 2, 10],
  [8, 9, 4, 11],
  [9, 8, 7, 12],
  [1, 6, 3, 20],
]

index = [0,1,2,3]

In [3]:
df = pd.DataFrame(array,index)
df

   0  1  2   3
0  1  6  2  10
1  8  9  4  11
2  9  8  7  12
3  1  6  3  20

In [4]:
df2 = df.groupby([0,1]).sum([2,3])
df2

     2   3
0 1
1 6  5  30
8 9  4  11
9 8  7  12

In [11]:
import pandas as pd

def group(arr, idx):
    df = pd.DataFrame(arr).groupby(idx).sum()
    return dict(zip(df.index if len(idx)>1 else [(x,) for x in df.index], df.values.tolist()))

In [12]:
group(array,index)

{(1, 6, 2, 10): [], (1, 6, 3, 20): [], (8, 9, 4, 11): [], (9, 8, 7, 12): []}